.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 35px;
  margin-bottom: 30px;
}

@media (max-width: 1150px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }
}