.options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__bg {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 10px;

    border: none;
    border-radius: 5px;
    background-image: url('../assets/images/changeBG.png');
    cursor: pointer;
    outline: none;

    

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 9px);
      width: 15px;
      height: 20px;

      background-image: url('../assets/images/changeBgarrow.png');
    }

    &:hover::after {
      animation: rotate 0.5s;
    }
  }

  &__langs {
    margin-right: 10px;
    width: 70px;

    background: rgba(174, 181, 185, 0.5);
    border-radius: 5px;
  }

  &__temps {
    display: flex;
    border-radius: 5px;
  }

  &__temp {
    width: 44px;
    height: 44px;
    padding-top: 8px;
    padding-left: 6px;

    background: rgba(76, 82, 85, 0.4);
    cursor: pointer;

    transition: all 0.3s;
    
    &:hover {
      transform: scaleY(1.1);
    }

    &--active {
      background: rgba(174, 181, 185, 0.5);

      &:hover {
        transform: none;
      }
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}