.search {
  display: flex;

  &__input {
    width: 274px;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;

    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: $main-color;
    outline: none;
  }

  &__btn {
    padding: 0;
    width: 101px;
    height: 44px;

    background: rgba(174, 181, 185, 0.5);
    color: $main-color;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

input.search__input::placeholder {
  color: $main-color;
}

@media (max-width: $tablet-width) {
  .search {
    &__input {
      width: auto;
    }
  }
}

@media (max-width: 400px) {
  .search {
    flex-direction: column;
    align-items: center;
  }

  &__input {
    border-radius: 5px;
  }
  
  &__btn {
    border-radius: 5px;
  }
}