.map {
  width: 400px;

  &__box {
    width: 100%;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  &__coord {
    margin-bottom: 20px;
  }
}

@media (max-width: 1150px) {
  .map {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
}

@media (max-width: $tablet-width) {
  .map {
    &__box {
      margin-top: 30px;
    }
  }
}

@media (max-width: $tablet-width) {
  .map {
    align-items: flex-start;
  }
}