.weather {
  &__town {
    font-size: calcFluidFontSize($min-font-size, 44, $min-width, $max-width);
    line-height: calcFluidFontSize($min-font-size, 54, $min-width, $max-width);
    text-transform: uppercase;
  }

  &__date {
    display: flex;
  }

  &__time {
    font-weight: 600;
    font-size: calcFluidFontSize($min-font-size, 24, $min-width, $max-width);
    line-height: calcFluidFontSize($min-font-size, 29, $min-width, $max-width);
  }

  &__temp {
    display: flex;
    margin-bottom: 5%;
  }

  &__current {
    min-width: 375px;
    margin: 0;
    padding: 0;
    
    font-size: calcFluidFontSize(30, 300, $min-width, $max-width);
    line-height: calcFluidFontSize(30, 370, $min-width, $max-width);
    text-transform: uppercase;
  }

  &__list {
    margin-top: 5%;
    
    line-height: calcFluidFontSize(18, 37, $min-width, $max-width);
    text-transform: uppercase;
  }

  &__next-days {
    display: flex;

    line-height: calcFluidFontSize(18, 27, $min-width, $max-width);
    text-transform: uppercase;
  }

  &__next {
    margin-right: 10px;
  }
}

@media (max-width: 1150px) {
  .weather {
    &__title {
      text-align: center;
    }

    &__town {
      text-align: center;
    }

    &__date {
      justify-content: center;
    }

    &__temp {
      display: flex;
      justify-content: center;
    }

    &__next-days {
      justify-content: center;
    }
  }
}

@media (max-width: $tablet-width) {
  .weather {
    &__town {
      margin: 0;
    }

    &__time {
      margin: 0;
    }

    &__temp {
      flex-direction: column;
    }

    &__current {
      min-width: auto;
    }

    &__list {
      margin-top: 0;
    }

    &__next-days {
      flex-direction: column;
    }
  }
}
