body {
  height: 100vh;
  margin: 0;

  box-sizing: border-box;
  font-size: calcFluidFontSize($min-font-size, $main-font-size, $min-width, $max-width);
  font-weight: bold;
  color: $main-color;
  font-family: "Montserrat", sans-serif;

  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6.25%;
}

.hide {
  display: none;
}

@media (max-width: 1150px) {
  body {
    height: 100%;
  }
}